name: deploy-snip
on: workflow_dispatch
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        port: ${{ secrets.PORT }}
        key: ${{ secrets.DEPLOY_KEY }}
        script: |
          mkdir -p ~/workspace/ # create a new folder
          cd ~/workspace/ # navigate into the folder
          git clone https://github.com/Adel-Bensalem/snip.git
          cd snip
          npm install
          export PORT=80 && npm run start
